<div class="profile-container">
  <div clsss="row">
    <div class="col-5 mx-auto d-flex flex-column justify-content-center">
        <h3 class="text-center"><%= @user.name %></h3>
        <div class="mx-auto">
          <%= attachment_image_tag @user, :profile_image, :fill,100,100,format:'jpeg',fallback:"no_image.jpg" %>
        </div>
        <% if @user.id == current_user.id %>
        <p class="mx-auto"><%= link_to "プロフィール編集",edit_user_path(@user) %></p>
        <% end %>
    </div>
  </div>
</div>

<%= render'post_images/list',post_images:@post_images %>